<h1>Material Types</h1>

<% if admin? %>
  <%= link_to 'New Material Type', new_mtype_path %>
<% end %>

<table>
  <tr>
    <th>Code</th>
    <th>Desc</th>
    <th></th>
  </tr>

  <% @mtypes.each do |mtype| %>
  <tr>
    <td><%= mtype.code %></td>
    <td><%= mtype.desc %></td>
    <% if admin? %>
      <td>
        <%= link_to 'Show', mtype %> | 
        <%= link_to 'Edit', edit_mtype_path(mtype) %> | 
        <%= link_to 'Destroy', mtype, method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    <% end %>
  </tr>
  <% end %>
</table>