<h1>PMMTS - home#index</h1>
<% if admin? %>
<br />
<h2>USER</h2>
	<%= link_to "New User", signup_path %>
<% end %>

<br /><br />
<h2>MATERIAL TYPES</h2>
	<%= link_to 'All Material Types', mtypes_path %>

<br /><br />
<h2>MATERIAL THICKNESSES</h2>
	<%= link_to "All Thicknesses", mthicknesses_path %>

<br /><br />
<h2>OFFCUTS (mockup)</h2>
	<%= link_to "Available Offcuts", offcuts_path %><br />
	<%= link_to "Offcuts Being Used", in_use_path %><br />
	<%= link_to "Used Up Offcuts", used_up_path %>

	<% if admin? %>
		<p>link_to #Report</p>
	<% end %>