<h1>Listing Offcuts Being Used</h1>
<%= link_to 'Available offcuts', offcuts_path %>
<table>
  <tr>
    <th>Code</th>
    <th>Mtype</th>
    <th>Thickness</th>
    <th>Height</th>
    <th>Width</th>
    <th>Description</th>
    <th>In use</th>
    <th>Use up</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @offcuts.each do |offcut| %>
  <tr>
    <td><%= offcut.code %></td>
    <td><%= offcut.mtype %></td>
    <td><%= offcut.thickness %></td>
    <td><%= offcut.height %></td>
    <td><%= offcut.width %></td>
    <td><%= offcut.description %></td>
    <td><%= offcut.in_use %></td>
    <td><%= offcut.use_up %></td>
    <td><%= link_to 'Show', offcut %></td>
    <td><%= link_to 'Edit', edit_offcut_path(offcut) %></td>
    <td>
        <% if admin? %>
        <%= link_to 'Destroy', offcut, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
    </td>
  </tr>
<% end %>
</table>
